.chat-input-form {
  margin-right: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #f8f9fa;
}

.chat-input {
  margin-bottom: 60px;
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s ease;
}

.chat-input:focus {
  border-color: #007bff;
}

.send-btn {
  margin-bottom: 60px;
  margin-left: 10px;
  padding: 10px 14px;
  font-size: 1rem;
 background: linear-gradient(to right, #134e5e, #71b280);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-btn:hover {
  background-color: #0056b3;
}
.chat-input-form .send-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}